body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: verdana, sans-serif;
}

img {
  background-color: #EAF6F6;
}

h1 {
  color: #66BFBF;
  font-size: 5rem;
  line-height: 2;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;

}

h2 {
  color: #66BFBF;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;

}

h3 {
  color:#11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  margin: 100px auto;
  width: 5%;
}

.top-container {
  background-color: #EAF6F6;
  margin-bottom: 50px;
  padding-top: 100px;

}

.middle-container {


}

.bottom-container {
  margin-top: 100px;
  background-color: #66BFBF;
  padding: 50px 0 20px;

}

.top-earth {
  width: 10%;
  position: absolute;
  right: 300px;
  top: 50px;

}

.bottom-earth {

  width: 10%;
  position: absolute;
  left: 300px;
  top: 350px;
}
.surface{
  height : 75%;
  width: 50%;
  margin-top: 0;
}

.skill-row {
  width: 60%;
  line-height: 2;
  margin:100px auto;
  text-align: left;


}

.bottom-paragraph {
  margin-bottom: 0;
}

.profile {
  padding-top: 50px;
}

.profile-picture {
  width : 10%;
}

.intro-paragraph {
  line-height: 2;
  margin: auto;
  width: 60%;

}

.top-skill {
  background-color: white;
  float: left;
  margin-right: 30px;
  width: 25%;
}

.middle-skill {
  background-color: white;
  float: right;
  margin-left: 30px;
  width: 25%;
}

.bottom-skill {
  background-color: white;
  float: left;
  margin-right: 30px;
  width: 25%;
}

.last-paragraph {
  color: #EAF6F6;
  font-size: 16px;
  padding: 30px;
}

.footer-link {
  color: #11999E;
  font-family: verdana, sans-serif;
  font-size: 20px;
  padding: 30px;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}

.contact-message {
  line-height: 2;
  margin: 40px auto;
  width: 40%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
